html, body {
  margin: 0;
  padding: 25px;

  font-family: "Nova Mono", monospace;
}

code {
  font-family: "Nova Mono", monospace;
}

p code {
  background: #efefef;
  padding: 2px;
}

h1 {
  margin: 5px 0;
}

h2 {
  margin: 2px 0;
}

h3 {
  margin: 0;
}