html, body {
  margin: 0;
  padding: 0 5px;
  width: 100%;
  font-family: "Nova Mono", monospace;
  font-size: 20px;
  box-sizing: border-box;
}

h1 {
  margin: 5px 0;
}

h2 {
  margin: 2px 0;
}

h3 {
  margin: 0;
}

p {
  line-height: 1.5em;
}

p code {
  background: #efefef;
  padding: 0 2px;
}

code {
  font-family: "Nova Mono", monospace;
}

pre {
  overflow-x: scroll;
}

.route {
  background: #efefef;
  padding: 2px;
}

.route code {
  display: flex;
  flex-flow: column nowrap;
}

.route input[type=checkbox] {
  width: 20px;
  height: 20px;
}

#root {
  max-width: 100%;
}

#root code, #root input {
  font-size: 24px;
}

#url input {
  font-size: 24px;
}

code label {
  max-width: 100%;
}

@media(min-width: 450px) {

  body {
    padding: 25px;
    font-size: 16px;
    max-width: 800px;
    margin: 0 auto;
  }

  #root {
    width: inherit;
  }

  #root code, #root input {
    font-size: 16px;
  }

  #url input {
    font-size: 16px;
  }

  pre {
    overflow-x: inherit;
  }

  .route input[type=checkbox] {
    width: inherit;
    height: inherit;
  }
}
